body {
  background-color: rgb(224, 217, 217);
}
h1 {
  color: rgb(59, 58, 58);
  text-align: center;
  font-size: 50px;
  margin: 10px;
}
.row1 {
  background-color: rgb(58, 182, 240);
  margin: 10px 30px 30px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(150, 83, 105);
  margin: 30px;
}
.row3 {
  background-color: white;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
img {
  height: 150px;
  width: 150px;
  margin-right: 60px;
  margin-left: 60px;
}
p {
  text-align: center;
  color: gray;
}
a {
  color: rgb(15, 156, 199);
}
.row2 img {
  margin-right: 180px;
  margin-left: 180px;
}

.row1 img,
.row2 img,
.row3 img {
  margin-top: 15px;
  margin-bottom: 15px;
}
